/* import SCSS components */
@import 'variables/colors';
@import "mixims/tables";
@import "loader/loaders";


/* Loader */
.loader-bg {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.23);
  .loader {
    @include loader12($size: 10px, $gap: 18px, $duration: 1s, $align: middle);
  }
}


/* Basic settings */
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: sans-serif;
  dl, ol, ul, label {
    margin: 0;
    padding: 0;
  }

  a, ul, li {
    text-decoration: none;
    list-style: none;
  }
}

/* LOGIN PAGE */
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  .text-info {
    font-size: 1rem;
  }
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.error-message {
  margin-top: 1rem;
  font-size: 1rem;
  color: $edit-color;
  font-weight: 700;
  text-align: center;
}

/* HEADER */
.header {
  width: 100vw;
  height: 4rem;
  background: linear-gradient(rgba(93, 203, 204, 0.8), rgba(5, 126, 137, 0.78));
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 1.5rem;
  background: linear-gradient(rgba(93, 203, 204, 0.8), rgba(5, 126, 137, 0.78));
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
  span {
    margin-right: .5rem;
  }
  p {
    color: $white;
    font-size: 1rem;
    text-align: center;
    line-height: inherit;
  }
}

/* MENU */
.toogle {
  margin-right: 20px;
  margin-left: auto;
  width: 4rem;
  height: 2rem;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  font-size: .8rem;
  text-transform: uppercase;
  background: $dark-bg;
  z-index: 10;
  border: 1px solid #ffffff;
  transition: all .5s;
  &::before {
    content: "Menu";
    color: $white;
    line-height: 2rem;
  }
  &.active::before {
    content: "Close";
    color: $white;
    line-height: 2rem;
  }
}

.menu {
  position: fixed;
  z-index: 5;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: $dark-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  ul {
    position: relative;
    li {
      list-style: none;
      text-align: center;
      a {
        display: block;
        padding: 5px;
        text-decoration: none;
        text-transform: uppercase;
        color: $white;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 2px;
        transition: all .5s;
        &:hover {
          color: $hover-color;
        }
        &::before {
          content: attr(data-text);
          position: absolute;
          z-index: -1;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $white;
          font-size: 8rem;
          opacity: 0;
          pointer-events: none;
          font-family: initial;
          transition: all .5s;
        }
        &:hover::before {
          opacity: .08;
          top: 50%;
        }
      }
    }
  }
  &.active {
    left: 0;
  }
}

/* index Page */

.statistics {
  margin-top: 5rem;
}

.statistic-table {
  margin: 2rem auto;
  width: 100%;
  overflow: auto;
  background: $white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  @include report-table();
  tfoot {
    background: #cfcfcf;
  }
}

/* Page SUP */
.filters {
  margin: 15px auto;
  padding: 2rem;
  width: 98%;
  background: $light-blue;
  border-radius: 1rem;
  .form-header {
    color: $text-color;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  .filter-form {
    margin: 0 auto;
    width: 1000px;
    .form-row {
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    select {
      padding: .2rem;
      background: $thead;
      font-size: 1rem;
      color: $white;
      border: none;
      border-radius: 5px;
      outline: none;
    }
    input[type=text] {
      width: 6rem;
      padding: .2rem;
      background: $thead;
      font-size: 1rem;
      line-height: 1rem;
      text-align: center;
      color: $white;
      text-transform: uppercase;
      border: none;
      border-radius: 5px;
      outline: none;
      &::placeholder {
        padding: .2rem;
        font-size: .8rem;
        line-height: 1rem;
        color: $white;
      }
    }
    input[type=date] {
      width: 9rem;
      padding: .1rem;
      background: $thead;
      font-size: 1rem;
      line-height: 1rem;
      color: $white;
      border: none;
      border-radius: 5px;
      outline: none;
      &::placeholder {
        padding: .2rem;
        font-size: 1rem;
        line-height: 1rem;
        color: $white;
      }
    }
    .filter-btn {
      @include primary-btn($text-color);
      .fa-filter {
        margin-left: .5rem;
        font-size: .8rem;
      }
    }
    .reset-btn {
      @include primary-btn(#ff8377);
      margin-left: -7rem;
    }
    .excel-btn {
      @include primary-btn($button-color);
      .fa-file-excel {
        margin-left: 0.7rem;
      }
    }
  }
}

.table-box {
  margin: 1rem  auto;
  max-width: 98%;
  max-height: 29rem;
  overflow: auto;
  background: $white;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  @include report-table();
  .edit-cost {
    margin-left: .5rem;
    cursor: pointer;
    color: $edit-color;
    &:hover {
      color: lighten($edit-color, 30%);
    }
  }
}

/* Tarif modal window */
.modal {
  display: none;
  width: 15rem;
  height: 8rem;
  background: $white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid $light-blue;
  border-radius: .5rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  &--close {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    color: $white;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
  }
  &__header {
    padding: .3rem;
    font-size: 1rem;
    color: $white;
    text-align: center;
    background: $thead;
  }
  .tarif-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &__select {
      display: block;
      width: 50%;
      padding: .3rem;
      background: $thead;
      font-size: 1rem;
      color: $white;
      border: none;
      border-radius: 5px;
      outline: none;
    }
    &__button {
      margin-top: 1rem;
      display: block;
      padding: .3rem .8rem;
      background: $text-color;
      font-size: 1rem;
      line-height: 1rem;
      color: $white;
      border-radius: 5px;
      outline: none;
      &:hover {
        background: lighten($text-color, 10%);
      }
    }
  }
}

/* Page setting */
.setting-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: $text-color;
}

.settings {
  margin-top: 1rem;
  &__link {
    a {
      font-size: 1rem;
    }
  }

  &__content {
    .users-table {
      margin: 1rem auto;
      width: 100%;
      max-height: 15rem;
      overflow: auto;
      background: $white;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
      @include report-table();
      .fa-user-minus {
        color: $text-color;
        cursor: pointer;
        &:hover {
          color: $edit-color;
        }
      }
    }
    &-header {
      font-size: 1.3rem;
      font-weight: 700;
      text-align: center;
    }

    .user-add {
      width: 100%;
      margin-top: 2rem;
      .form {
        padding: 1.5rem;
        width: 100%;
        background: $light-blue;
        border-radius: 0.7rem;
        &__select {
          display: block;
          margin-left: 1rem;
          padding: .2rem;
          background: $thead;
          font-size: 1rem;
          color: $white;
          border: none;
          border-radius: 5px;
          outline: none;
        }
        &__fieldset {
          margin: 0.8rem 1rem;
          display: inline-block;
          padding: .2rem;
          font-size: 0.8rem;
          label {
            margin-left: 0.5rem;
            input {
              margin-right: 0.3rem;
              vertical-align: middle;
            }
          }
        }
        &__button {
          display: block;
          margin: 0 auto;
          padding: .2rem;
          @include primary-btn($text-color);
        }
      }
    }
  }

  .setting-block {
    padding: 1.5rem;
    width: 98%;
    background: $light-blue;
    border-radius: 0.7rem;
    &__header {
      margin-bottom: 0.5rem;
      color: $text-color;
      font-size: 1rem;
      text-align: center;
      font-weight: 700;
    }
    &__info {
      font-size: 0.7rem;
      span {
        color: $edit-color;
      }
    }
    label {
      margin-right: 1rem;
      font-size: 1rem;
    }

    select {
      margin-left: 1rem;
      padding: .2rem;
      background: $thead;
      font-size: 1rem;
      color: $white;
      border: none;
      border-radius: 5px;
      outline: none;
    }
    input[type=text] {
      width: 6rem;
      padding: .2rem;
      background: $thead;
      font-size: 1rem;
      line-height: 1rem;
      text-align: center;
      color: $white;
      text-transform: uppercase;
      border: none;
      border-radius: 5px;
      outline: none;
      &::placeholder {
        padding: .2rem;
        font-size: .8rem;
        line-height: 1rem;
        color: $white;
      }
    }
    input[type=date] {
      width: 9rem;
      padding: .1rem;
      background: $thead;
      font-size: 1rem;
      line-height: 1rem;
      color: $white;
      border: none;
      border-radius: 5px;
      outline: none;
      &::placeholder {
        padding: .2rem;
        font-size: 1rem;
        line-height: 1rem;
        color: $white;
      }
    }
    button {
      @include primary-btn($text-color);
    }
  }
}

