/* Стиль таблиц */
@mixin report-table () {
  table {
    margin: 0 auto;
    thead {
      background: $thead;
    }
    th, td {
      border: 1px solid #79e0ff;
      border-collapse: collapse;
      padding: .4rem;
      font-size: .8rem;
      text-align: left;
      white-space: nowrap;
    }
    th {
      position: sticky;
      top: 0;
      background: $thead;
      color: $white;
      text-align: center;
      i {
        margin-left: .5rem;
        color: lighten($text-color, 20%);
        cursor: pointer;
      }
      span {
        display: block;
      }
    }
  }
}

/* Стиль кнопок */
@mixin primary-btn($color) {
  position: relative;
  padding: .3rem .8rem;
  background: $color;
  font-size: 1rem;
  line-height: 1rem;
  color: $white;
  border: 1px solid $white;
  border-radius: 5px;
  outline: none;
  &:hover {
    background: lighten($color, 10%);
  }
}
